@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  background: url(../img/Satori-Mountain-Sunset-2560.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: white;
  background-color: #F7C998;
  font-family: 'Gotu', sans-serif;
  font-size: 1.5em;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.bio {
  position: absolute;
  top: 200px;
  left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.tuition {
  position: absolute;
  top: 500px;
  left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.contact-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.bandcamp {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: white;
}
a:hover {
  font-weight: bold;
}
