@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  background: url(../img/Satori-Mountain-Sunset-2560.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 1em;
  color: white;
  font-family: 'Gotu', sans-serif;
  font-weight: 800;
  text-shadow: 0 1px black;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
  margin-top: 0.5em;
}

p {
  font-size: 1.5em;
}

ul, dl {
  font-size: 1.5em;
}

li {
  display: inline-block;
}

dl dd {
  float: left;
}

dl dt {
  float: left;
}


a {
  color: white;
  text-decoration-line: underline;
}

a:hover {
  color: seashell;
  text-decoration-line: none;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  dl {
    font-size: 1em;
  }
}
